@if(Context.User.Identity.IsAuthenticated){
    <li class="nav-item">
        <a asp-controller="Empleados"
        asp-action="Index"
        class="nav-link text-danger">
        Empleados
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Managed"
           asp-action="Logout"
           class="nav-link text-danger">
            Log Out - <span style="color:blue">
                @Context.User.Identity.Name
            </span>
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Empleados"
           asp-action="Perfil"
           class="nav-link text-danger">
            Perfil
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Empleados"
           asp-action="Compis"
           class="nav-link text-danger">
            Compis
        </a>
    </li>
}else{
    <li class="nav-item">
        <a asp-controller="Empleados"
           asp-action="Index"
           class="nav-link text-black">
            LogIn
        </a>
    </li>
}